# Compiled object files
*.o

# Compiled static libraries
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*

# Executables
*.exe

# Figures (encapsulated postscript)
*.eps

# Specific headers
BilInfo.h
BilLib.h
BilPath.h
BilVersion.h

# Database
*.db

# Specific folders
doc/edition-1.6/
doc/bil-en.html/
doc/oxygen/html/

# Specific files
doc/oxygen/Doxyfile
doc/bil-en.pdf
doc/bil-en.ps
doc/bil-en.txt
