# Compiled object files
*.o
*.pyc

# Compiled static libraries
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*

# Executables
*.exe

# Figures (encapsulated postscript)
*.eps

# Old C source files (specific to bil)
*.cold
*.hold

# Specific Bil files
*.sto
*.cont
*.conti

# Specific headers
BilConfig.h
BilInfo.h
BilLib.h
BilPath.h
BilVersion.h
BilExtraLibs.h

# Database

# Specific folders
build
__pycache__

# Specific files
._sync_*
