#
SHELL = /bin/sh


BIL_OPTIONS := 


# The file "OPTIONS" may set the options to "ON" or "OFF".
sinclude ${BIL_PATH}/OPTIONS


# Do you use OpenMP?
# ------------------
ifdef ENABLE_OPENMP
  ifeq (${ENABLE_OPENMP},ON)
    BIL_OPTIONS += HAVE_OPENMP
  endif
endif


# Do you use Pthread?
# ------------------
ifdef ENABLE_PTHREAD
  ifeq (${ENABLE_PTHREAD},ON)
    BIL_OPTIONS += HAVE_PTHREAD
  endif
endif


